{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      {{ with page.OutputFormats.Get "rss" }}
        <li>
          <a href="{{ .RelPermalink }}">
            <img src="/rss.svg" alt="RSS" width="14px" style="vertical-align:baseline;">
          </a>
        </li>
      {{ end }}
      <li>
        <svg width="16px" height="16px" onclick="toggleDarkMode()" style="user-select: none; cursor: pointer;">
          <mask id="myMask"><circle cx="8" cy="8" r="7" fill="white" /></mask>
          <circle cx="8" cy="8" r="7" stroke-width="1" fill="var(--cbg)" stroke="var(--cfg)" />
          <rect class="system_theme_fg" x="8" width="8" height="16" mask="url(#myMask)" />
        </svg>
      </li>
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
